# Querying Json Documents

In [ ]:
# * connection to the db
# * create a collection 
# * add json document to the collection
# * find()
# * $in, $gt, $lt, $and, $or

In [6]:
import pymongo

#establishing the connection
clint = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

#creating a database
db = clint['test_0']

#creating a collection or table
coll = db.books
print(f'collection--> {coll}')

collection--> Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test_0'), 'books')

In [7]:
type(coll)

pymongo.collection.Collection

In [42]:
data = [{"id":0, "language": "Go", "edition": "Zeroth", "author": "Not Added","age":5},
{"id":1, "language": "Python", "edition": "first", "author": "Rosoom",'age':15},
{"id":2, "language": "JSON", "edition": "first", "author": "Derrick Mwiti", 'age':10},
{"id":3, "language": "JAVA", "edition": "Third", "author": "Markov",'age':20},
{"id":4, "language": "Java Script", "edition": "Fourth", "author": "Ranbow",'age':13}]

result = coll.insert_many(data)
print(f"result id: {id(result)}")

result id: 139691936941320

In [8]:
## Simple way of querying
coll.find_one()

{'_id': ObjectId('5f11cab22b7e295b3fcea69c'),
 'id': 0,
 'author': 'Not Added',
 'language': 'Go',
 'edition': 'Zeroth'}

In [19]:
2 in [i['id'] for i in coll.find({},{'id':1})]

True

In [44]:
for i in coll.find():
    print(i)

{'_id': ObjectId('5f118203f967a0ec87be54a2'), 'id': 0, 'language': 'Go', 'edition': 'Zeroth', 'author': 'Not Added', 'age': 5}
{'_id': ObjectId('5f118203f967a0ec87be54a3'), 'id': 1, 'language': 'Python', 'edition': 'first', 'author': 'Rosoom', 'age': 15}
{'_id': ObjectId('5f118203f967a0ec87be54a4'), 'id': 2, 'language': 'JSON', 'edition': 'first', 'author': 'Derrick Mwiti', 'age': 10}
{'_id': ObjectId('5f118203f967a0ec87be54a5'), 'id': 3, 'language': 'JAVA', 'edition': 'Third', 'author': 'Markov', 'age': 20}
{'_id': ObjectId('5f118203f967a0ec87be54a6'), 'id': 4, 'language': 'Java Script', 'edition': 'Fourth', 'author': 'Ranbow', 'age': 13}

In [45]:
for i in coll.find({}):
    print(i)

{'_id': ObjectId('5f118203f967a0ec87be54a2'), 'id': 0, 'language': 'Go', 'edition': 'Zeroth', 'author': 'Not Added', 'age': 5}
{'_id': ObjectId('5f118203f967a0ec87be54a3'), 'id': 1, 'language': 'Python', 'edition': 'first', 'author': 'Rosoom', 'age': 15}
{'_id': ObjectId('5f118203f967a0ec87be54a4'), 'id': 2, 'language': 'JSON', 'edition': 'first', 'author': 'Derrick Mwiti', 'age': 10}
{'_id': ObjectId('5f118203f967a0ec87be54a5'), 'id': 3, 'language': 'JAVA', 'edition': 'Third', 'author': 'Markov', 'age': 20}
{'_id': ObjectId('5f118203f967a0ec87be54a6'), 'id': 4, 'language': 'Java Script', 'edition': 'Fourth', 'author': 'Ranbow', 'age': 13}

In [46]:
#query on json document based on equality condition
#SELECT * FROM coll WHERE language==python
for data in coll.find({'language':'Python'}):
    print(data)

{'_id': ObjectId('5f118203f967a0ec87be54a3'), 'id': 1, 'language': 'Python', 'edition': 'first', 'author': 'Rosoom', 'age': 15}

In [47]:
# Query json document using query operator
# $in, $gt, $it
#SELECT * FROM coll WHERE edition= seroth or first
for data in coll.find({'edition':{'$in': ['Zeroth','first']}}):
    print(data)

{'_id': ObjectId('5f118203f967a0ec87be54a2'), 'id': 0, 'language': 'Go', 'edition': 'Zeroth', 'author': 'Not Added', 'age': 5}
{'_id': ObjectId('5f118203f967a0ec87be54a3'), 'id': 1, 'language': 'Python', 'edition': 'first', 'author': 'Rosoom', 'age': 15}
{'_id': ObjectId('5f118203f967a0ec87be54a4'), 'id': 2, 'language': 'JSON', 'edition': 'first', 'author': 'Derrick Mwiti', 'age': 10}

In [48]:
#AND 
#AND can be added by putting a comma ',', also you can use $and
# $lt --> less then
#SELECT * from coll WHere edition==first and age<20;
for data in coll.find({'edition':'first','age':{'$lt':20}}):
    print(data)

{'_id': ObjectId('5f118203f967a0ec87be54a3'), 'id': 1, 'language': 'Python', 'edition': 'first', 'author': 'Rosoom', 'age': 15}
{'_id': ObjectId('5f118203f967a0ec87be54a4'), 'id': 2, 'language': 'JSON', 'edition': 'first', 'author': 'Derrick Mwiti', 'age': 10}

In [57]:
# AND
#$and
#SELECT * FROM coll WHERE edition=first and language=python
for data in coll.find({'$and':[{'edition':'first','age':{'$lt':20}}]}):
    print(data)

{'_id': ObjectId('5f118203f967a0ec87be54a3'), 'id': 1, 'language': 'Python', 'edition': 'first', 'author': 'Rosoom', 'age': 15}
{'_id': ObjectId('5f118203f967a0ec87be54a4'), 'id': 2, 'language': 'JSON', 'edition': 'first', 'author': 'Derrick Mwiti', 'age': 10}

In [49]:
# $gt --> greater then
#SELECT * from coll WHere edition==first and age>10;
for data in coll.find({'edition':'first','age':{'$gt':10}}):
    print(data)

{'_id': ObjectId('5f118203f967a0ec87be54a3'), 'id': 1, 'language': 'Python', 'edition': 'first', 'author': 'Rosoom', 'age': 15}

In [54]:
# OR
#$or
#SELECT * FROM coll WHERE edition=first or edition First
for data in coll.find({'$or':[{'edition':'first'},{'edition':'First'}]}):
    print(data)

{'_id': ObjectId('5f118203f967a0ec87be54a3'), 'id': 1, 'language': 'Python', 'edition': 'first', 'author': 'Rosoom', 'age': 15}
{'_id': ObjectId('5f118203f967a0ec87be54a4'), 'id': 2, 'language': 'JSON', 'edition': 'first', 'author': 'Derrick Mwiti', 'age': 10}

In [56]:
# AND
#$and
#SELECT * FROM coll WHERE edition=first and language=python
for data in coll.find({'edition':'first','language':'Python'}):
    print(data)

{'_id': ObjectId('5f118203f967a0ec87be54a3'), 'id': 1, 'language': 'Python', 'edition': 'first', 'author': 'Rosoom', 'age': 15}

In [124]:
coll.find({'id':1})

# Functions
> * update_one()
* update_many()
* replace_one()

In [58]:
#creating a collection or table
new_coll = db.quest

In [94]:
query = [{"q0": "Which one is correct team name in NBA?",
          "options": {'op1':"New York Bulls",
                      'op2':"Los Angeles Kings",
                      'op3':"Golden State Warriros",
                      'op4':"Huston Rocket"},
                "answer": "Huston Rocket"},
        {"q1":"5 + 7 = ?",
                "options": {
                    'op1':"10",
                    'op2':"11",
                    'op3':"12",
                    'op4':"13"
                },
                "answer": "12"},
        {"q2": "12 - 8 = ?",
                "options": {
                    'op1':"1",
                    'op2':"2",
                    'op3':"3",
                    'op4':"4"
                },
                "answer": "4"},
         {"q3": "50 + 70 = ?",
                "options": {
                    'op1':"100",
                    'op2':"110",
                    'op3':"120",
                    'op4':"130"
                },
                "answer": "120"},
         {"q4":"Which one is correct Cricket Council of our country?",
                "options": {'op1':"ICC",
                            'op2':"ICICI",
                            'op3':"LIC",
                            'op4':"CC"},
                "answer": "Huston Rocket"}
]

In [95]:
new_coll.insert_many(query)

In [ ]:
[{'id': 1, 'language': 'Python', 'edition': 'Second', 'author': 'Denish'}]

In [123]:
new_coll.insert_many([{'id': 1, 'language': 'Python', 'edition': 'Second', 'author': 'Denish'}])

In [96]:
new_coll.update_one({"q4":"Which one is correct Cricket Council of our country?"},
                    {"$set":{"answer":"ICC"},'$currentDate':{'UpdatedON':True}})

In [97]:
#how to insert a new field on an existing document
new_coll.update_many({"mark":{"$exists":False}},{'$set':{'mark':20}})

In [98]:
for i in new_coll.find({}):
    print(i)

{'_id': ObjectId('5f119740f967a0ec87be54ad'), 'q0': 'Which one is correct team name in NBA?', 'options': {'op1': 'New York Bulls', 'op2': 'Los Angeles Kings', 'op3': 'Golden State Warriros', 'op4': 'Huston Rocket'}, 'answer': 'Huston Rocket', 'mark': 20}
{'_id': ObjectId('5f119740f967a0ec87be54ae'), 'q1': '5 + 7 = ?', 'options': {'op1': '10', 'op2': '11', 'op3': '12', 'op4': '13'}, 'answer': '12', 'mark': 20}
{'_id': ObjectId('5f119740f967a0ec87be54af'), 'q2': '12 - 8 = ?', 'options': {'op1': '1', 'op2': '2', 'op3': '3', 'op4': '4'}, 'answer': '4', 'mark': 20}
{'_id': ObjectId('5f119740f967a0ec87be54b0'), 'q3': '50 + 70 = ?', 'options': {'op1': '100', 'op2': '110', 'op3': '120', 'op4': '130'}, 'answer': '120', 'mark': 20}
{'_id': ObjectId('5f119740f967a0ec87be54b1'), 'q4': 'Which one is correct Cricket Council of our country?', 'options': {'op1': 'ICC', 'op2': 'ICICI', 'op3': 'LIC', 'op4': 'CC'}, 'answer': 'ICC', 'UpdatedON': datetime.datetime(2020, 7, 17, 12, 19, 19, 337000), 'mark': 20}

In [127]:
new_coll.update_many({'mark':20},
                    {'$set':{'options.op2':'None of These!!'},'$currentDate':{'LastUpdated':True}})

In [100]:
for i in new_coll.find({}):
    print(i)

{'_id': ObjectId('5f119740f967a0ec87be54ad'), 'q0': 'Which one is correct team name in NBA?', 'options': {'op1': 'New York Bulls', 'op2': 'None of these!!', 'op3': 'Golden State Warriros', 'op4': 'Huston Rocket'}, 'answer': 'Huston Rocket', 'mark': 20, 'LastUpdated': datetime.datetime(2020, 7, 17, 12, 19, 38, 381000)}
{'_id': ObjectId('5f119740f967a0ec87be54ae'), 'q1': '5 + 7 = ?', 'options': {'op1': '10', 'op2': 'None of these!!', 'op3': '12', 'op4': '13'}, 'answer': '12', 'mark': 20, 'LastUpdated': datetime.datetime(2020, 7, 17, 12, 19, 38, 381000)}
{'_id': ObjectId('5f119740f967a0ec87be54af'), 'q2': '12 - 8 = ?', 'options': {'op1': '1', 'op2': 'None of these!!', 'op3': '3', 'op4': '4'}, 'answer': '4', 'mark': 20, 'LastUpdated': datetime.datetime(2020, 7, 17, 12, 19, 38, 381000)}
{'_id': ObjectId('5f119740f967a0ec87be54b0'), 'q3': '50 + 70 = ?', 'options': {'op1': '100', 'op2': 'None of these!!', 'op3': '120', 'op4': '130'}, 'answer': '120', 'mark': 20, 'LastUpdated': datetime.datetime(2020, 7, 17, 12, 19, 38, 381000)}
{'_id': ObjectId('5f119740f967a0ec87be54b1'), 'q4': 'Which one is correct Cricket Council of our country?', 'options': {'op1': 'ICC', 'op2': 'None of these!!', 'op3': 'LIC', 'op4': 'CC'}, 'answer': 'ICC', 'UpdatedON': datetime.datetime(2020, 7, 17, 12, 19, 19, 337000), 'mark': 20, 'LastUpdated': datetime.datetime(2020, 7, 17, 12, 19, 38, 381000)}

In [115]:
import datetime

datetime.datetime.now()

datetime.datetime(2020, 7, 17, 18, 16, 38, 688659)

In [118]:
#Replace
new_coll.replace_one({'q4': 'Which one is correct Cricket Council of our country?'},
                      {'q4': 'Which one is correct Cricket Council of our country?',
                      'options': {'op1': 'ICC', 'op2': 'None of these!!', 'op3': 'LIC', 'op4': 'CC'},
                      'answer': 'ICC',
                      'mark': 20, 
                      'LastUpdated':datetime.datetime.now()
                      })

In [122]:
coll.find({'q4': 'Which one is correct Cricket Council of our country?'})